{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% url 'core:ideas' as ideas %}
{% url 'core:idea-update' idea.id as update %}
{% url 'core:idea-delete' idea.id as delete %}
{% bootstrap_button content='Ideas' button_type='link' button_class='btn-primary' href=ideas %}
{% bootstrap_button content='Update' button_type='link' button_class='btn-primary' href=update %}
{% bootstrap_button content='Delete' button_type='link' button_class='btn-primary' href=delete %}

<br>

{% if idea.thumbnail %}
<img src="{{ idea.thumbnail.url }}" alt="thumb" height="500" width="500" class="rounded">
{% endif %}

<h1>{{ idea.name }}</h1>

<p>{{ idea.description }}</p>

{% if idea.url %}
<a href="{{ idea.url }}">More...</a>
{% endif %}
