{% load bootstrap4 %}

{% url 'core:idea-update' idea.id as modify %}
{% include 'core/header.html' with modify=modify only %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <div class="row align-items-center">
                        {% if idea.thumbnail %}
                        <div class="col">
                            <img src="{{ idea.thumbnail.url }}" alt="thumb" class="rounded img-fluid">
                        </div>
                        {% endif %}
                        <div class="col">
                            <h1 class="display-4">{{ idea.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ idea.description }}</p>
                        </div>
                    </div>
                    {% if idea.url %}
                    <div class="row">
                        <div class="col">
                            <a href="{{ idea.url }}">More...</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html' %}
