{% load bootstrap4 %}

{% include "core/header.html" only %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Roulette</h1>
                <p class="lead">Mix and match languages and ideas to inspire and showcase projects.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Coming soon...</h3>
            <ul>
                <li>User accounts</li>
                <li>Verified submissions</li>
                <li>Randomly generated project requirements</li>
                <li>Embedded GitHub views</li>
                <li>And more!</li>
            </ul>
        </div>
    </div>
</div>

{% include "core/footer.html" %}
