{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% url 'core:index' as home %}
{% url 'core:language-add' as add %}
{% bootstrap_button content='Home' button_type='link' button_class='btn-primary' href=home %}
{% bootstrap_button content='Add' button_type='link' button_class='btn-primary' href=add %}

<div class="list-group">
{% for language in language_list %}
    <a class="list-group-item" href="{% url 'core:language' language.id %}"/>{% if language.thumbnail %}<img src="{{ language.thumbnail.url }}" alt="thumb" height="100" width="100" class="img-thumbnail">{% endif %} {{ language.name }}</a>
{% empty %}
    <div>No languages.</div>
{% endfor %}
</div>
