{% load bootstrap4 %}

{% include 'core/header.html' with page='languages' only %}

<div class="container">
    {% for language in language_list %}
    <div class="row justify-content-center">
        <div class="col">
            <a class="list-group-item" href="{% url 'core:language' language.id %}"/>{% if language.thumbnail %}<img src="{{ language.thumbnail.url }}" alt="thumb" height="100" width="100" class="img-thumbnail">{% endif %} {{ language.name }}</a>
        </div>
    </div>
    {% empty %}
    <h1>No languages.</h1>
    {% endfor %}
</div>

{% include 'core/footer.html' %}
