{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% url 'core:languages' as back %}
{% url 'core:language-update' language.id as update %}
{% url 'core:language-delete' language.id as delete %}
{% bootstrap_button content='Back' button_type='link' href=back %}
{% bootstrap_button content='Update' button_type='link' href=update %}
{% bootstrap_button content='Delete' button_type='link' href=delete %}

<br>

{% if language.thumbnail %}
<img src="{{ language.thumbnail.url }}" alt="thumb" height="500" width="500" class="img-thumbnail">
{% endif %}

<h1>{{ language.name }}</h1>

<p>{{ langauge.description }}</p>
