{% load bootstrap4 %}

{% include 'core/header.html' only %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <div class="row align-items-center">
                        {% if language.thumbnail %}
                        <div class="col">
                            <img src="{{ language.thumbnail.url }}" alt="thumb" class="rounded img-fluid">
                        </div>
                        {% endif %}
                        <div class="col">
                            <h1 class="display-4">{{ language.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ language.description }}</p>
                        </div>
                    </div>
                    {% if language.url %}
                    <div class="row">
                        <div class="col">
                            <a href="{{ language.url }}">More...</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html' %}
