{% load bootstrap4 %}

{% url 'core:project-update' project.id as modify %}
{% include 'core/header.html' with modify=modify only %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <a href="{% url 'core:idea' project.idea.id %}">
                                {% if project.idea.thumbnail %}
                                <img src="{{ project.idea.thumbnail.url }}" alt="thumb" class="rounded img-fluid">
                                {% else %}
                                <h1>{{ project.idea.name }}</h1>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-1">
                            <h1>+</h1>
                        </div>
                        <div class="col">
                            <a href="{% url 'core:language' project.language.id %}">
                                {% if project.language.thumbnail %}
                                <img src="{{ project.language.thumbnail.url }}" alt="thumb" class="rounded img-fluid">
                                {% else %}
                                <h1>{{ project.language.name }}</h1>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-auto">
                            <h1 class="display-4">{{ project.name }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    {% if project.github_url %}
                    <div class="row">
                        <div class="col">
                            <a href="{{ project.github_url }}">GitHub</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'core/footer.html' %}
