{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% url 'core:index' as back %}
{% url 'core:project-add' as add %}
{% bootstrap_button content='Back' button_type='link' href=back %}
{% bootstrap_button content='Add' button_type='link' href=add %}

<div class="list-group">
{% for project in project_list %}
    <a class="list-group-item" href="{% url 'core:project' project.id %}"/>{% if project.thumbnail %}<img src="{{ project.thumbnail.url }}" alt="thumb" height="100" width="100" class="img-thumbnail">{% endif %} {{ project.name }}</a>
{% empty %}
    <div>No projects.</div>
{% endfor %}
</div>
