{% load bootstrap4 %}

{% url 'core:project-add' as add %}
{% include 'core/header.html' with page='projects' add=add only %}

<div class="container">
    {% for project in project_list %}
    <div class="row justify-content-center">
        <div class="col">
            <a class="list-group-item" href="{% url 'core:project' project.id %}"/>{% if project.thumbnail %}<img src="{{ project.thumbnail.url }}" alt="thumb" height="100" width="100" class="img-thumbnail">{% endif %} {{ project.name }}</a>
        </div>
    </div>
    {% empty %}
    <h1>No projects.</h1>
    {% endfor %}
</div>

{% include 'core/footer.html' %}
